<!DOCTYPE html PUBLIC "-//IETF//DTD HTML 2.0//EN">
<HTML>
   <HEAD>
      <TITLE>
         A Small Hello 
      </TITLE>
   </HEAD>
<BODY>
   <H1>Hi</H1>
   <P>This is very minimal "hello world" HTML document.</P>
   <P>This is an image.</P>
   <P><img src="{{ url_for('static',filename="test3.jpg")}}"></P>
</BODY>
</HTML>

